html, body, div, span,
dl, dt, dd, ol, ul, li, h1,
fieldset, form, label, footer,
menu, nav, output, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  background: #e8e8e8;
  color: #565656;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* { border-color: #565656; }

body {
  width: 325px;
  margin: auto;
  font-size: 1.5rem;
}

.box {
  position: relative;
  padding: 25px;
  border: 1px solid;
  margin-bottom: 5px;
  background: white;
}
.box + .box,
.box > * + * {
  margin-top: 25px;
}

a {
  font-size: small;
  text-decoration: none;
}

a + a {
  margin-left: 5px;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0 !important;
}

input, button {
  width: 100%;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
}

.tempo-counter-header {
  background: #e8e8e8;
  border-style: solid;
  border-width: 2px;
  border-color: #a8a8a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bar {
  background: #e8e8e8;
  border-style: solid;
  border-top-style: hidden;
  border-width: 2px;
  border-color: #a8a8a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar:nth-child(1) {
  background: #e8e8e8;
  border-style: solid;
  border-width: 2px;
  border-color: #a8a8a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-signature {
  padding-right: 0px !important;
}

.toggle {
  border-width: 2px;
  border-style: solid;
  border-color: #a8a8a8;
  width: 100%;
  text-align: center;
}

.section {
  padding: 10px;
  display: inline-block;
  border-color: #a8a8a8;
  border-width: 2px;
}
.section:not(.button):not(.counter) {
  padding: 8px;
}

.button {
  display: inline-block;
  background: #e8e8e8;
  color: #565656;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  background: #d8d8d8;
}
.button:active {
  background: #c8c8c8;
}
.button::selection {
  background: none;
}

.tap {
  border-right-style: solid;
}

.remove-bar {
  border-right-style: solid;
  color: #ff0000;
}

.add-bar {
  border-left-style: solid;
}

.disabled {
  color: #c8c8c8;
  cursor: no-drop;
}
.disabled:hover {
  background: #e8e8e8;
}
.disabled:active {
  background: #e8e8e8;
}

.wrapper {
  white-space: nowrap;
}

.counter {
  background: #565656;
  color: white;
  border-left-style: solid;
  border-width: 2px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  display: none;
}

select {
  border: 1px solid;
  background: white;
  padding: 8px;
}

.btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.btn-close:hover {
  cursor: pointer;
}

input[type=range] {
  margin: 25px 0 0 0;
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #e8e8e8;
  margin-bottom: -3px;
  cursor: pointer;
  height: 10px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #e8e8e8;
  border: 2px solid #a8a8a8;
  border-radius: 0;
  cursor: pointer;
  height: 40px;
  margin-top: -15px;
  width: 16px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c8c8c8;
}

input[type=range]::-moz-range-track {
  background: #e8e8e8;
  cursor: pointer;
  height: 10px;
  width: 100%;
}

input[type=range]::-moz-range-thumb {
  background: #e8e8e8;
  border: 2px solid #a8a8a8;
  border-radius: 0;
  cursor: pointer;
  height: 40px;
  width: 16px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #e8e8e8;
}

input[type=range]::-ms-fill-upper {
  background: #e8e8e8;
}

input[type=range]::-ms-thumb {
  background: #e8e8e8;
  border: 2px solid #a8a8a8;
  border-radius: 0;
  cursor: pointer;
  height: 40px;
  width: 16px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #c8c8c8;
}

input[type=range]:focus::-ms-fill-upper {
  background: #c8c8c8;
}
